@import 'react-calendar/dist/Calendar.css';

.date-dropdown {
  @apply w-96 z-10 left-0 mt-2 rounded-xl shadow-xl;
}

.guest-rooms-dropdown {
  @apply bg-gray-200 mt-2 rounded-xl w-full text-center shadow-xl;
}

/* .guest-rooms-dropdown {
background-color: #ffffff;
border: 1px solid #d7d7d7;
border-radius: 6px;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
width: 140px;
left: 24px;
z-index: 100;
margin-top: 8px;
} */

.guest-room-list {
  padding: 12px;
  cursor: pointer;
}

.guest-room-list:hover {
  background-color: #d1d5db;
}

.guest-room-list:first-child:hover{
  border-radius: 16px 16px 0px 0px;
}

.guest-room-list:last-child:hover{
  border-radius: 0px 0px 16px 16px;
}

.react-calendar {
  @apply shadow-xl rounded-xl bg-gray-200;
}

.react-calendar {
  width: 100 !important;
  font-family: Poppins, sans-serif !important;
  background-color: #E5E7EB !important;
  border: none !important;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:enabled {
  border-radius: 20px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #D1D5DB !important;
}
.react-calendar__navigation button[disabled] {
  background-color: transparent !important;
  opacity: 0.5;
  cursor: not-allowed;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: #1F2937 !important;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}
.react-calendar__title .react-calendar__title--hover {
  background-color: #e6e6e6 !important;
}
.react-calendar__title--hoverStart {
  border-radius: 20px 0px 0px 20px;
}
.react-calendar__title--hoverEnd {
  border-radius: 0px 20px 20px 0px;
}
.react-calendar__tile:disabled {
  background-color: #E5E7EB !important;
  cursor: not-allowed;
  opacity: 0.5;
}
.react-calendar__tile:enabled,
.react-calendar__tile:enabled {
  border-radius: 20px;
  border: 2px solid transparent;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #D1D5DB !important;
}
.react-calendar__tile--now {
  background-color: transparent !important;
  border-color: #374151 !important;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #000 !important;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

