@import "./calendar.css";

/* CTAs & Buttons */

.btn-loading {
  @apply rounded-full border-2 border-gray-300 py-1 px-6 text-gray-300 text-sm bg-gray-300 opacity-25;
}

.btn-primary {
  @apply rounded-full border-2 border-black bg-black py-1 px-6 text-white text-sm transition duration-200;
}

.btn-primary:hover {
  @apply shadow-2xl;
}

.btn-primary:active {
  @apply shadow-md;
}

.btn-primary.btn-fw {
  @apply rounded-full border-2 border-black bg-black py-4 w-full text-white text-sm;
}
.btn-secondary {
  @apply rounded-full border-2 border-gray-400 py-1 px-6 text-gray-600 text-sm transition duration-200 bg-white;
}

.btn-secondary:hover {
  @apply border-gray-700 text-black shadow-xl;
}

.btn-secondary.btn-active {
  @apply border-gray-700 text-black shadow-md;
}

.btn-disabled {
  @apply opacity-25 cursor-default pointer-events-none;
}



.btn-date {
  @apply py-3 w-full lg:w-40 uppercase text-left flex items-center justify-between;
}

.btn-guest-room {
  @apply py-3 w-full lg:w-32 uppercase text-left flex items-center justify-between;
}

.btn-date:focus {
  @apply outline-none;
}

.btn-guest-room:focus {
  @apply outline-none;
}

.chevron {
  width: 24px;
  margin-right: 24px;
}

.chevron-rotate {
  transform: rotate(180deg);
}

/* Layout */

.container {
  @apply px-4 mx-auto my-0;
}

#gallery > div:first-child {
  height: 450px;
}

/* #gallery > div {
  height: 217px;
} */

#photo:nth-child(n+4) {
  display: none;
}

#gallery > div > img{
  width: auto;
  height: 100%;
}

.Toastify__toast-container{
  z-index: 9999;
  -webkit-transform: translateZ(9999px);
  position: fixed;
  padding: 4px;
  left: 50%;
  box-sizing: border-box;
  color: #fff;
  min-width: 320px !important;
  width: auto !important;
}
.Toastify__toast-container--top-center{
  top: 1em;
  transform: translateX(-50%);
}
.Toastify__toast{
  min-height: 0 !important;
  padding: 17px 24px !important;
  border-radius: 8px !important;
  max-width: 800px;
}
.Toastify__toast-body{
  font-size: 14px;
}
.Toastify__toast--error{
  border: none;
  border-radius: 4px;
}
.Toastify__toast--success{
  border:none;
  border-radius: 4px;
}
.Toastify__toast--warning{
  border:none;
  border-radius: 4px;
  background-color: #FCA800;
}
.toast-mailto {
  color: white;
  text-decoration: underline;
}
.toast-mailto:hover{
  color: white;
  text-decoration: underline;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@media screen and (max-width: 768px){

    .Toastify.Toastify__toast-container--top-center{
        width: auto;
        margin-left: -195px;
    }
  .chevron{
    width: 16px;
    margin-right: 16px;
  }
}



@media screen and (max-width: 767px) {
  .Toastify__toast-container {
  width: 80%;
  margin-left: 0;
  left: 10%;
   }
 }
