@import "./calendar.css";

/* CTAs & Buttons */

.btn-primary {
  @apply rounded-full border-2 border-black bg-black py-1 px-6 text-white text-sm;
}
.btn-primary.btn-fw {
  @apply rounded-full border-2 border-black bg-black py-4 w-full text-white text-sm;
}
.btn-secondary {
  @apply rounded-full border-2 border-gray-400 py-1 px-6 text-gray-600 text-sm;
}

.btn-date {
  @apply py-3 w-40 uppercase text-left flex items-center justify-between;
}

.btn-guest-room {
  @apply py-3 w-32 uppercase text-left flex items-center justify-between;
}

.btn-date:focus {
  @apply outline-none;
}

.btn-guest-room:focus {
  @apply outline-none;
}

.chevron {
  width: 24px;
  margin-right: 24px;
}

.chevron-rotate {
  transform: rotate(180deg);
}

/* Layout */

.container {
  @apply px-4 mx-auto my-0;
}

